@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
@layer components {
  .container-custom {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
}

@layer utilities {
  .typewriter {
    display: inline-block;
    animation: typing 5s steps(22, end) 0.8s infinite, blink-caret 0.75s step-end infinite;
    white-space: nowrap;
    overflow: hidden;
  }

  @keyframes typing {
    0% { width: 0; }
    50% { width: 100%; }
    80% { width: 100%; }
    100% { width: 0; }
  }

  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #EAB308; }
  }
}

@layer utilities {
  .backface-hidden {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
  .transform-style-3d {
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
  }
}